{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load rest_framework %}
<div class="container-fluid bg-gray">
    <div class="row flex-nowrap">

        <div class="col" style="height: auto; margin-top: 5%; margin-right: 2.5%; margin-bottom: 5%;">
            <div class="row" style="margin-right: 2%; margin-left: 2%;">

                <div class="row d-flex justify-content-center">
                    <h2 class="text-center">جام جم</h2>
                </div>

                <div class="col-sm-4 d-flex justify-content-center container-fluid rounded">
                    <div class="card container-fluid rounded">
                        <h1 style="font-size: 18px; text-align: center; line-height: 3;" class="card-header bg-white">
                            تغییر رمز عبور</h1>
                        <br>
                        {% if error %}
                        <div class="card-body">
                            <p style="color:red">{{error}}</p>
                        </div>
                        {% endif %}
                        <form action="{% url 'password-reset-complete' %}" method="post" >{% csrf_token %}

                            <div class="form-group my-2">
                                <label>ایمیل</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>

                            <div class="form-group my-2">
                                <label>رمز عبور</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>

                            <div class="form-group my-2">
                                <label>تکرار رمز عبور</label>
                                <input type="password" name="password2" class="form-control" required>
                            </div>

                            <div class="d-grid gap-2 my-4">
                                <button class="btn btn-primary" type="submit">تغییر رمز عبور</button>
                            </div>
                        </form>

                        <div class="row d-flex justify-content-center mb-4">
                            <div class="col-4 text-end">
                                <a href="/" style="text-decoration:underline; font-size: medium;">صفحه اصلی</a>
                            </div>
                            <div class="col-4">
                                <a href="account/login" style="text-decoration:underline; font-size: medium;">ورود</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}