{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-gray">
    <div class="row ">
        <div class="col-8 container-fluid bg-white rounded my-4 p-4" style="text-align:justify;">
            <p style="visibility:hidden; font-size: smaller;">asd</p>
            <h4 class="text-blue" style="line-height: 5;">درباره جام جم بیشتر بدانید</h4>
            <br>
            <p>تیم جام جم متشکل از جمعی از کارمندان شرکت بهپرداز جهان است که در زمینه های گوناگون اعم از برنامه
                نویسی،مدیریت و مالی تخصص دارند.افراد این تیم در چندسال اخیر، در خرید و فروش بیت کوین و سایر ارزهای
                دیجیتال فعال بوده اند. ما از نزدیک شاهد برخی مشکلات برای ایرانیان از جمله دسترسی سخت به بازارهای خارجی،
                وجود کلاهبرداران داخلی، خرید و فروش با سودی ناعادلانه برای مردم توسط صرافی های داخلی و از طرفی جود
                نداشتن پلتفرمی امن و حرفه ای برای خرید و فروش بیت کوین و سایر ارزهای دیجیتال در ایران و دلایل متعدد دیگر
                بوده‌ایم. ما با مشاهده این مشکلات تصمیم به ایجاد پلتفرمی کاملا ایمن، حرفه ای وآسان برای خرید و فروش بیت
                کوین و سایر ارزهای دیجیتال گرفتیم. امیدواریم که بتوانیم با تلاش بسیار و نوآوری محصولی شایسته شما ارائه
                نماییم.</p>
            <br><br>
            <div class="row container-fluid bg-blue rounded py-3">
                <div class="col">
                    <p class="display-4"><b>495,793</b></p>
                    <p class="fs-3"><b>تعداد کاربران</b></p>
                </div>

                <div class="col">
                    <p class="display-4"><b>6,488,748</b></p>
                    <p class="fs-3"><b>تعداد کل معاملات</b></p>
                </div>
            </div>
            <br><br><br><br>
            <div class="row">
                <div class=" col-sm-12 col-md-7">

                    <h4 style="color:darkgoldenrod;">امنیت جام جم</h4>
                    <br>
                    <p>اولین هدف تیم جام جم، ایجاد بستری امن برای انجام معاملات و حفظ دارایی‌های مشتریان می‌باشد. به
                        همین جهت از افراد متخصص در حوزه امنیت سایبری استفاده شده است. برای توسعه و بهبود سایت همواره به
                        موضوع امنیت توجه شده است. برای روشن‌تر کردن و اعتماد شما مشتریان گرامی در زیر به صورت مفصل تر
                        توضیح داده ایم.</p>

                </div>
                <div class="col-sm-12 col-md-5">
                    <img class="img-fluid" src="{% static '/logo/security.png' %}" width="80%" height="80%"></img>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <p class="mx-auto fw-bold bg-yellow text-white rounded-circle w-25 text-center py-4">۱</p>
                    <br>
                    <p>تمامی اطلاعات بین کاربر و سامانه توسط پروتکل‌های SSL رد وبدل و رمزنگاری می‌شود به گونه ای که
                        امکان سرقت اطلاعات وجود ندارد.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <p class="mx-auto fw-bold bg-yellow text-white rounded-circle w-25 text-center py-4">۲</p>
                    <br>
                    <p>تمامی اطلاعات و داده های سامانه بر روی سرورهای اختصاصی که از دیواره های آتش چندلایه نرم افزاری و
                        سخت افزاری بهره مند هستند ذخیره می‌گردند.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <p class="mx-auto fw-bold bg-yellow text-white rounded-circle w-25 text-center py-4">۳</p>
                    <br>
                    <p>تمامی داده های مهم و هویتی کاربران ، به صورت رمزنگاری شده ذخیره می‌گردد. در این صورت حتی اگر
                        نفوذی به سرور صورت بپذیرد شخص نفوذگر هیچ گونه سوءاستفاده ای از این اطلاعات نمی‌تواند داشته
                        باشد.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <p class="mx-auto fw-bold bg-yellow text-white rounded-circle w-25 text-center py-4">۴</p>
                    <br>
                    <p>از تمامی اطلاعات مهم سامانه به طور مرتب بک آپ گیری انجام می‌شود به گونه ای که عملا امکان از دست
                        رفتن اطلاعات کاربران صفر است.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <p class="mx-auto fw-bold bg-yellow text-white rounded-circle w-25 text-center py-4">۵</p>
                    <br>
                    <p>تمامی سطح دسترسی ها به امکانات مهم سامانه نظیر ورود به سامانه، برداشت از کیف پول و تغییر رمز عبور
                        سامانه ، دارای فرآیند تایید دو مرحله ای(Two Factor Authentication) است.</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <p class="mx-auto fw-bold bg-yellow text-white rounded-circle w-25 text-center py-4"><b>۶</b></p>
                    <br>
                    <p>تمامی فرآیندهای مهمی که در سامانه اتفاق می افتد از طریق ایمیل و یا پیامک به سرعت اطلاع رسانی می
                        شود تا امکان هرگونه استفاده غیرمجاز از حساب کاربری وجود نداشته باشد .</p>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-sm-12 col-md-5">
                    <img class="img-fluid" src="{% static '/logo/lock.png' %}" width="80%" height="80%"></img>
                </div>
                <div class="cil-sm-12 col-md-7">
                    <h4 style="color:darkgoldenrod;">حفاظت از دارایی های دیجیتال کاربران</h4>
                    <br>
                    <p>در جام جم هر کاربر یک کیف پول منحصر به فرد برای خود دارد. در هر کیف پول به ازای هر ارزدیجیتال یک
                        آدرس به کاربر اختصاص داده می‌شود. تمامی دارایی های دیجیتال کاربران به صورت سخت افزاری (cold
                        storage) نگهداری و ذخیره می‌شود. از آنجا که دارایی های دیجیتال کاربران با بالاترین امنیت و به
                        صورت آفلاین نگه داری می‌شوند در هیچ صورت امکان سرقت و از بین رفتن دارایی های کاربران وجود
                        ندارد.</p>
                </div>
                <br><br>
                <hr>
                <br><br>
                <h4 class="text-center">چشم انداز</h4>
                <br>
                <p class="text-center">تبدیل شدن به پلتفرم مبادله ارزهای دیجیتال در سطح منطقه و ایجاد درگاه پرداخت پوشش
                    دهنده ارزهای دیجیتال</p>
                <br><br>

            </div>
        </div>
    </div>
    {% endblock %}