{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-gray">
    <div class="row">
        <h4 class="text-gray text-center" style="line-height: 5;">تماس با ما</h4>
    </div>

    <div class="col-8 container-fluid bg-white text-end my-5 rounded">
        <br>
        <h6>اطلاعات تماس</h6>
        <br>
        <p><i class="bi-envelope-fill"></i> پست الکترونیک : info@jamejam.com</p>
        <br>
        <p><i class="bi-telephone-fill"></i> تلفن : ۱۲۳۴۵۶۷۸ - ۰۲۱ (هفت روز هفته از ساعت ۹ صبح الی ۱۲ بامداد)</p>
        <br>
    </div>
{% endblock %}