{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-gray">
    <div class="row ">
        <h4 class="text-gray text-center" style="line-height: 5;">سوالات متداول</h4>
    </div>

    <div class="col-8 container-fluid mb-5 rounded" style="text-align:justify;">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        چرا به جام جم اعتماد کنیم ؟
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>جام جم تشکیل شده از یک تیم دانشجویان دانشگاه شریف و تهران است که در زمینه های مختلف اعم
                                از برنامه نویسی، امنیت، بلاکچین و... دارای تخصص بالایی هستند و با دیدن مشکلات پیش رو
                                برای خرید و فروش ارزهای دیجیتال برای ایرانیان و باتوجه به دانش خود اقدام به ایجاد
                                پلتفرمی حرفه ای و ایمن برای خرید و فروش بیت کوین و سایر ارزهای دیجیتال برای مردم ایران
                                کرده اند. با توجه به دانش افراد تیم و با تلاش بسیار سعی شده است که این پلتفرم در ایمن
                                ترین و بهترین حالت ممکن عرضه شود. برای اعتماد بیشتر به جام جم می‌توانید ابتدا به خرید و
                                فروش ارزهای دیجیتال به مقدار کم کنید تا از کاربری راحت آن، امنیت و حرفه ای بودن این
                                پلتفرم مطمئن شوید.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        نحوه ثبت نام در جام جم چگونه است ؟
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>برای ثبت‌نام در سایت جام جم، کافیست ایمیل و رمز مورد نظر خود را وارد کنید و سپس ایمیل
                                خود را تایید نمایید. پس از تایید ایمیل خود، وارد فضای تکمیل حساب کاربری خود می‌شوید که
                                باید اطلاعات خود را تکمیل کنید و پس از تکمیل اطلاعات باید منتظر بایستید تا اطلاعات شما
                                توسط بخش پشتیبانی تایید شود. پس از تایید اطلاعات شما، کد تایید به شماره موبایل شما ارسال
                                می‌شود و شما می‌توانید شروع به خرید بیت کوین یا فروش بیت کوین و سایر ارزهای دیجیتال خود
                                کنید.</p>

                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        چرا تایید هویت لازم است؟
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>بر اساس قوانین موجود در بازارهای مالی دنیا و نیز حمایت از قوانین مرتبط با پولشویی، احراز
                                هویت مشتریان به سبب جلوگیری از هرگونه سوء استفاده احتمالی الزامی است. احراز هویت به
                                افرادی که در سایت جام جم ثبتنام می‌کنند کمک می‌کند تا با و خیال راحت تری به معامله با
                                افراد داخل پلتفرم بپردازند. موارد محدودی در این زمینه برای شروع به کار با سایت جام جم
                                در نظر گرفته شده است.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ارز دیجیتال چیست؟
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>ارز دیجیتال یا Cryptocurrency یک فرم از پول الکترونیکی است. بیشتر ارزهای دیجیتال به منظور
                                امنیت بیشتر، حذف واسطه ها و ناشناس بودن طراحی شده اند.</p>
                            <br>
                            <p>ارزهای دیجیتال، ارزهایی هستند که از رمزنگاری برای انتقال در اینترنت استفاده می کنند،
                                رمزنگاری های ارزهای دیجیتال غیرقابل هک و پیگیری هستند.</p>
                            <br>
                            <p>ابتدا رمزنگاری در جنگ جهانی دوم برای انتقال پیام و فرمان های نظامی مورد استفاده قرار
                                گرفت. در عصر دیجیتال، ریاضیات و علوم کامپیوتر برای امنیت ارتباطات، اطلاعات و انتقال پول
                                مورد استفاده قرارگرفته اند.</p>
                            <br>
                            <p>اولین ارز دیجیتال بیت کوین است که در سال ۲۰۰۹ ایجاد شد و اکنون پادشاه دنیای ارزهای
                                دیجیتال است. در چند سال گذشته ارزهای دیجیتال زیادی معرفی و عرضه شده اند. در حال حاضر
                                حدود ۹۰۰ ارز دیجیتال در بازارهای جهانی تجارت می شود.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        بیت کوین چیست؟
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>بیت کوین نخستین پول رمزنگاری شده‌ای است که در دنیا ایجاد شده است. هنوز مشخص نیست چه کسی
                                این ارز دیجیتال را برای اولین بار خلق کرده است، زیرا ارز رمزنگاری شده در اساس بر مبنای
                                مخفی نگه داشتن هویت کاربران عمل می‌کند. با این وجود، بیت کوین برای اولین بار در مقاله‌ای
                                که توسط یک برنامه نویس با اسم (احتمالا مستعار) ساتوشی ناکاموتو (Satoshi Nakamoto) منتشر
                                شد، به جهانیان معرفی شد. با این وجود هنوز مشخص نیست که ساتوشی ناکاموتو کیست.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        والت سخت افزاری چیست؟
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>والت های سخت افزاری یا cold storage ها امن ترین نوع کیف پول ها برای ذخیره ارزهای دیجیتال
                                می‌باشند. با توجه به اینکه private key هر کیف پول در خود سخت افزار ذخیره می‌شود، حتی در
                                صورت از بین رفتن کامل سایت و هک آن به هیچ وجه امکان برداشت ارزهای دیجیتال از سایت امکان
                                پذیر نمی‌باشد و در نتیجه این دارایی ها به امن ترین حالت ممکن ذخیره می‌شوند.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        نحوه خرید و فروش ارزهای دیجیتال چگونه است ؟
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>برای خرید و فروش ارزهای دیجیتالی در سایت جام جم، کافی است تا با ثبت نام و احراز هویت در
                                سایت، اقدام به شارژ حساب ریالی و یا حساب های ارزهای دیجیتالی خود نمایید و سپس توسط ثبت
                                سفارش خرید بیت کوین و یا فروش بیت کوین وسایر ارزهای دیجیتال اقدام به مبادله کنید.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        نحوه ثبت سفارش خریدوفروش در جام جم چگونه است؟
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>برای خرید بیت کوین یا فروش بیت کوین و یا سایر ارزهای دیجیتال خود باید ثبت سفارش کنید و
                                برای اینکار نیاز دارید تا به قسمت بازار ارز دیجیتال مد نظر خود بروید و براساس اینکه
                                می‌خواهید ارز دیجیتال بخرید و یا بفروشید، اقدام به ثبت سفارش خرید بیت کوین یا فروش بیت
                                کوین یا سایر ارزهای دیجیتال با توجه به قیمت مد نظر خود کنید.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        سفارش مدت دار چیست ؟
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>در این حالت شما می‌توانید برای سفارش های خود تاریخ انقضا تعیین کنید. برای مثال شما سفارش
                                خرید بیت کوین را ثبت کنید اما می‌خواهید اگر تا تاریخ و ساعت خاصی فروشنده ای اقدام به
                                فروش بیت کوین نکرد سفارش خرید بیت کوین شما هم حذف شود. برای این کار در هنگام ثبت سفارش
                                خرید بیت کوین خود تاریخ انقضا هم نیز تعیین می‌کنید.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        نحوه شارژ کیف پول کوین در جام جم چگونه است؟
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>برای واریز ارزهای دیجیتال باید وارد بخش کیف‌ پول خود شده و ارز مدنظر خود را پیدا کنید و
                                سپس بر روی گزینه واریز کلیک کنید. آدرس والت یا کیف ‌پول اختصاصی شما نشان داده می‌شود و
                                شما می‌توانید مقدار ارز مورد نظر خود را از هر کیف‌پولی که دارید به این آدرس ارسال کنید.
                                پس از تأیید واریز توسط شبکه، حساب ارز دیجیتال به صورت خودکار شارژ خواهد شد.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEleven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        چگونه از حساب ریالی خود برداشت کنم ؟
                    </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>برای برداشت از حساب ریالی خود باید به قسمت کیف پول مراجعه کنید و بر روی دکمه برداشت در
                                حساب ریالی خود کلیک کنید، مقدار پولی را که می‌خواهید برداشت کنید، وارد می‌نمایید و سپس
                                مقصد را با توجه به حساب هایی که خود شما وارد کرده‌اید، انتخاب می‌نمایید وسپس بر روی دکمه
                                ایجاد درخواست برداشت کلیک می‌نمایید. به منظور حفظ ایمنی دارایی شما، ایمیل یا پیامکی(بنا
                                به انتخاب شما) حاوی کد تایید به شما ارسال می‌شود که باید آن را وارد کنید.</p>
                            <br>
                            <p>پس از تأیید درخواست برداشت توسط تیم جام جم، وضعیت درخواست از تأیید اولیه به تأیید نهایی
                                تغییر می یابد. همچنین پس از ارسال مبلغ به حساب مقصد، وضعیت به انجام شده تغییر خواهد
                                یافت.</p>
                            <br>
                            <p>درخواست مورد نظر، بین ۱۲ تا ۷۲ ساعت به حساب درخواست شده ارسال خواهد شد. لازم به ذکر است،
                                زمان اجرای درخواست به خاطر محدودیت های ارسال بین بانکی ابلاغ شده توسط بانک مرکزی بوده و
                                جام جم نقشی در زمان اجرای درخواست ندارد اما تمام تلاش جام جم این است که درخواست در
                                کوتاهترین زمان ممکن اتفاق افتد.</p>
                            <br>
                            <p>مبالغ کمتر از سه میلیون تومان در صورت امکان طی همان روز تسویه خواهند شد. مبالغ بالاتر به
                                صورت حواله‌ی پایا یا ساتنا انجام خواهد شد و مطابق با محدودیت‌های این نوع حواله‌ها در
                                روزهای تعطیل و ساعات غیراداری قابل انجام نیست. همچنین تاخیرهای معمول این نوع حواله‌ها در
                                زمان دریافت مبلغ در حساب مقصد تاثیرگذار خواهد بود. در صورت ثبت حساب بانک سامان و استفاده
                                از آن، معمولا امکان انتقال داخل بانکی و تسریع درخواست برداشت وجود دارد.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwelve">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        برداشت از حساب بیت کوین و سایر ارزهای دیجیتال چگونه است؟
                    </button>
                </h2>
                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>برای برداشت از حساب ارزهای دیجیتال خود باید به قسمت کیف پول مراجعه کنید و بر روی دکمه
                                برداشت در کیف پول ارزدیجیتال مدنظر خود کلیک کنید، مقدار ارزی را که می‌خواهید برداشت
                                کنید، وارد می‌نمایید و سپس آدرس کیف پول مقصد را وارد می‌کنید، بر روی دکمه ایجاد درخواست
                                برداشت، کلیک می‌نمایید. به منظور حفظ ایمنی دارایی شما، ایمیل یا پیامکی (بنا به انتخاب
                                شما) حاوی کد تایید به شما ارسال می‌شود که باید آن را وارد کنید.</p>
                            <br>
                            <p>نکته مهم: در نوشتن آدرس کیف‌پول مقصد، بسیار دقت نمایید چرا که بازگرداندن ارزهای دیجیتال
                                فرستاده شده غیرممکن می‌باشد.(فرستادن به آدرس اشتباه)</p>
                            <br>
                            <p>پس از تأیید درخواست برداشت توسط جام جم، وضعیت درخواست از تأیید اولیه به تأیید نهایی
                                تغییر می یابد. همچنین پس از ارسال ارز به حساب مقصد، وضعیت به انجام‌شده تغییر خواهد
                                یافت.</p>
                            <br>
                            <p>به دلیل مکانیزم امنیتی ذخیره سازی سرد(Cold Storage)، مدت زمان رسیدگی به درخواست ارسال ارز
                                دیجیتال در ساعات کاری حداکثر ۱ ساعت و در ساعات غیر کاری بین ۱ تا ۳ ساعت انجام خواهد شد.
                                درخواست های بعد از ساعت ۲۴ ،صبح روز بعد انجام خواهد شد.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThirteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        نحوه محاسبه کارمزدها چگونه است؟
                    </button>
                </h2>
                <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>به دلیل مکانیزم امنیتی ذخیره سازی سرد(Cold Storage)، مدت زمان رسیدگی به درخواست ارسال ارز
                                دیجیتال در ساعات کاری حداکثر ۱ ساعت و در ساعات غیر کاری بین ۱ تا ۳ ساعت انجام خواهد شد.
                                درخواست های بعد از ساعت ۲۴ ،صبح روز بعد انجام خواهد شد.</p>
                            <br>
                            <a href="#" style="text-decoration: none;">مشاهده کارمزدها</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFourteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                        در صورت واریز کوین به آدرسی اشتباه آیا امکان بازگشت تراکنش وجود دارد؟
                    </button>
                </h2>
                <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>تراکنش های بیت کوین و باقی ارزهای‌دیجیتال برخلاف سیستم های سنتی کاملا غیر قابل برگشت
                                می‌باشند. ارسال یک تراکنش به آدرس اشتباه به این معنا است که آن ارزدیجیتال برای همیشه از
                                دست رفته است، مگر آنکه صاحب آن آدرس آدم دلسوزی باشد و پول را به شما برگرداند. حتی اگر
                                آدرس درست را کپی کرده باشید، بعضی از بدافزارها آدرس هک را برای شما پیست می‌کنند. بدتر از
                                آن ارسال به آدرسی است که صاحبی ندارد. در این صورت آن تراکنش از بین رفته و پول شما هیچوقت
                                به شما باز نمی‌گردد. برای جلوگیری از این اتفاق بهتر است که قبل از آنکه تراکنشی را ارسال
                                کنید، آدرس را چندین بار بررسی کنید تا با آدرس کیف پول ارزهای دیجیتال مورد نظرتان مشابه
                                باشد. قبل از فشردن دکمه ارسال از صحیح بودن تمام موارد اطمینان حاصل کنید. چک کردن حرف اول
                                و آخر والت شما هنگام واریز، همیشه بهترین و راحت ترین گزینه است.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFifteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                        چرا ایمیلی از طرف جام جم دریافت نمی کنم ؟
                    </button>
                </h2>
                <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>اگر در موقع ثبت‌نام ایمیلی برای شما ارسال نشد، ابتدا پوشه اسپم خود را چک کنید و در صورت
                                نبود ایمیل دوباره ایمیل خود را وارد کنید و ارسال مجدد را بزنید و درصورت عدم برطرف شدن
                                مشکل، موضوع را توسط تیکت به پشتیبانی اطلاع دهید و تیم پشتیبانی به سرعت پاسخگوی شما
                                خواهند بود.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSixteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                        نحوه بازیابی رمزعبور در صورت فراموشی چگونه است ؟
                    </button>
                </h2>
                <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>در صورت فراموش کردن رمز ورود خود کافیست تا با استفاده از لینک فراموشی رمز عبور، ایمیل خود
                                را وارد کنید و سپس به ایمیل خود رفته و لینک بازیابی مجدد رمز ورود را کلیک کرده و رمز
                                عبور جدید برای خود ایجاد کنید.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeventeen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                        نحوه تغییر اطلاعات حساب کاربری چگونه است ؟
                    </button>
                </h2>
                <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>برای عوض کردن مشخصات کاربری خود، باید به بخش اطلاعات حساب کاربری مراجعه کنید و اطلاعات
                                خود را تغییر دهید و منتظر تایید تیم پشتیبانی بایستید و بعد از تایید، شما مجاز به استفاده
                                از سایت خواهید بود.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}