{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-gray">
    <div class="row ">
        <h4 class="text-gray text-center" style="line-height: 5;">راهنمای استفاده</h4>
    </div>

    <div class="col-8 container-fluid mb-5 rounded" style="text-align:justify;">
        <div class=" accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        نحوه ثبت نام در صرافی جامه جم
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>۱- برای ثبت نام، اﺑﺘﺪا ﺑﻪ آدرس وﺑﺴﺎﯾﺖ جامه جم ﺑﺮوﯾﺪ (https://jamejam.behpardaz.net)</p>
                            <br>
                            <p>۲- سپس بر روی گزینه ثبت‌نام کلیک کنید.</p>
                            <br>
                            <p>۳- ﻓﺮم ﺛﺒﺖ ﻧﺎم ﺑﺮای ﺷﻤﺎ ﻧﻤﺎﯾﺎن ﻣﯿﺸﻮد ، ﻟﻄﻔﺎ اﻃﻼﻋﺎت ﺧﻮاﺳﺘﻪ ﺷﺪه را ﺑﻪ دﻗﺖ وارد ﮐﻨﯿﺪ و ﺑﺮ
                                روی گزینه ﺛﺒﺖ ﻧﺎم ﮐﻠﯿﮏ ﮐﻨﯿﺪ.</p>
                            <br>
                            <p>۴- ﺑﻪ ﻣﺤﺾ ارﺳﺎل ﺻﺤﯿﺢ اﻃﻼﻋﺎت، به پنل کاربری خود وارد می شوید . لازم به ذکر است پس از ثبت
                                نام ، لینک فعال سازی ایمیل به ایمیل شما ارسال می شود.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        نحوه احراز هویت
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>۱- ﭘﺲ ازﺛﺒﺖ ﻧﺎم در جامه جم ،برای استفاده از امکانات سامانه ﺑﺎﯾﺪ ﻣﺮاﺣﻞ اﺣﺮاز هویت را ﻣﺮﺣﻠﻪ
                                ﺑﻪ ﻣﺮﺣﻠﻪ اﻧﺠﺎم داده و ﻣﻨﺘﻈﺮ ﺗﺎﯾﯿﺪ آن ﺗﻮﺳﻂ ﻣﺪﯾﺮ ﺳﯿﺴﺘﻢ ﺑﻤﺎﻧﯿﺪ(قبل از تایید توسط مدیر
                                نمی‌توانید به خرید ارز دیجیتال یا فروش آن بپردازید):</p>
                            <br>
                            <p>۲- گام اول اﻃﻼﻋﺎت ﻫﻮﯾﺘﯽ ﺧﻮد ﻧﻈﯿﺮ ﻧﺎم و ﻧﺎم ﺧﺎﻧﻮادﮔﯽ ، ﺷﻤﺎره ﻣﻠﯽ ، آدرس، شماره موبایل و
                                تلفن ثابت را ﺑﻪ دﻗﺖ و درستی وارد ﻧﻤﺎﯾﯿﺪ:</p>
                            <br>
                            <p>۳- در اﯾﻦ ﺑﺨﺶ ﺷﻤﺎ ﺑﺎﯾﺪ اطلاعات مالی ﺧﻮد را وارد ﻧﻤﺎﯾﯿﺪ. دقت کنید که این حساب بانکی به نام
                                شما باید باشد:</p>
                            <br>
                            <p>۴- در ﺑﺨﺶ ﺑﻌﺪی ﺷﻤﺎ ﺑﺎﯾﺪ مدرک ﻫﻮﯾﺘﯽ ﺧﻮد را درﺳﺎﯾﺖ جامه جم ﺑﺎرﮔﺬاری ﻧﻤﺎﯾﯿﺪ ، تصویر کارت ملی
                                را در کنار چهره خودتان همراه با یک دست نوشته به صورت کاملا خوانا و واضح ، دقیقا مانند
                                تصویر نمونه ، ارسال نمایید :</p>
                            <br>
                            <p>۵- و در آخر برای ﺷﻤﺎره ﺗﻠﻔﻦ همراه شما پیامکی ارسال می شود که بایستی کد تایید را وارد
                                نمایید.</p>
                            <br>
                            <p>۶- ﻣرحله اوﻟﯿﻪ اﺣﺮاز هویت تمام شد وبا ﺗﺎﯾﯿﺪ ﻣﺪﯾﺮﺳﺎﯾﺖ ﺷﻤﺎ می توانید از خدمات جامه جم
                                استفاده کنید.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        نحوه خرید و فروش (معامله سریع)
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>۱- بازار ارز دیجیتالی را که می خواهید خرید سریع انجام دهید انتخاب کنید. برای انتخاب ابتدا
                                پایه بازار را انتخاب کنید(برای مثال ریال) و سپس از قسمت بازارها بر روی بازار مدنظر خود
                                کلیک نمایید( برای مثال بازار بیت کوین به ریال)</p>
                            <br>
                            <p>۲- صفحه خود را به سمت پایین بیاورید و در قسمت "خرید و فروش" بر روی گزینه "خرید سریع" کلیک
                                نمایید.</p>
                            <br>
                            <p>۳- مقدار ارز دیجیتال یا حجم پول را برای خرید وارد کنید و بر روی دکمه خرید کلیک کنید. در
                                خرید سریع شما در حال خرید از کاربران با بهترین پیشنهاد فروش هستید یعنی خرید شما از سفارش
                                های فروش کاربران تامین می‌شود و به همین جهت به صورت میانگین وزنی قیمت آن حساب می‌شود.
                                برای مثال اگر شخصی ۰.۵ بیت کوین با قیمت ۹۸ میلیون تومان برای فروش گذاشته باشد و فرد
                                دیگری ۰.۵ بیت کوین با قیمت ۹۹ میلیون تومان برای فروش گذاشته باشد در اینصورت اگر شما یک
                                واحد برای خرید بیت کوین بزنید با قیمت ۹۸۵۰۰۰۰۰ برایتان خرید می‌شود.</p>
                            <br>
                            <p>بعد از خرید سریع از سمت راست بر روی کیف پول کلیک نمایید و مقدار کوین خود را مشاهده
                                نمایید.</p>
                            <br>
                            <p>برای فروش سریع نیز مانند خرید سریع باید عمل کنید و فرآیند تکرار می‌شود</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        نحوه خرید و فروش (معامله حرفه ای)
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>۱- بازار ارز دیجیتالی را که می خواهید خرید سریع انجام دهید انتخاب کنید. برای انتخاب ابتدا
                                پایه بازار را انتخاب کنید(برای مثال ریال) و سپس از قسمت بازارها بر روی بازار مدنظر خود
                                کلیک نمایید( برای مثال بازار بیت کوین به ریال)</p>
                            <br>
                            <p>ﺑﺮای راحتی در آﻣﻮزش ﻣﻮارد اﺻﻠﯽ را در ﻗﺎﻟﺐ ۵ ﺑﺨﺶ دﺳﺘﻪ ﺑﻨﺪی ﮐﺮده و ﺑﻪ ﺗﻮﺿﯿﺢ هر ﯾﮏ ﻣﯽ
                                ﭘﺮدازﯾﻢ.</p>
                            <br>
                            <p>۱- ﻧﻤﻮدار ﻗﯿﻤﺖ:</p>
                            <br>
                            <p>ﭘﺲ از اﻧﺠﺎم هر ﻣﻌﺎﻣﻠﻪ، نمودار شمعی آن مطابق با بازه زمانی ای که شما تعیین می‌کنید نمایش
                                داده می‌شود و روی آن می توانید با ابزارهایی که در کنار نمودار است تحلیل قیمت انجام
                                دهید.(برای مطالعه بیشتر، روی این لینککلیک کنید)</p>
                            <br>
                            <p>۲- ﺛﺒﺖ ﺳﻔﺎرش خرید ارز دیجیتال:</p>
                            <br>
                            <p>در این ﺑﺨﺶ شما ﻣﯽ ﺗﻮاﻧید یک سفارش خرید با ﻣﻘﺪار و قیمت دلخواه ﺧﻮد ثبت کنید و در صورت نیاز
                                ُ زمان انقضا برای سفارش خود تعیین کنید .ﻫﺮ زﻣﺎن کاربر دیگری ﺑا ﻗﯿﻤﺖ شما موافق بود،
                                ﻣﻌﺎﻣﻠﻪ اﻧﺠﺎم خواهد ﺷﺪ.</p>
                            <br>
                            <p>در تصویر بالا در قسمت مقدار کوین کافیست مقدار کوینی را که می خواهید معامله کنید وارد
                                کنید(برای مثال مقدار ۰.۲ بیت کوین) و در قسمت قیمت واحد، کافیست قیمت دلخواه خود برای یک
                                واحد بیت کوین وارد کنید(برای مثال ۹۴۵۰۰۰۰۰ تومان)</p>
                            <br>
                            <p>بعد از زدن دکمه ثبت سفارش خرید، سفارش شما در لیست خریدارن قرار می‌گیرد.(در تصویر زیر
                                مشاهده کنید)</p>
                            <br>
                            <p>سفارشی که شما ثبت می‌کنید به صورت ستاره نمایش داده می‌شود.</p>
                            <br>
                            <p>۳- مشاهده معاملات: در اﯾﻦ ﺑﺨﺶ ﻟﯿﺴﺖ معاملات اخیر اﻧﺠﺎم ﺷﺪه ﻧﻤﺎﯾﺶ داده ﻣﯽ‌ﺷﻮد. رﻧﮓ سبز ﻧﺸﺎن
                                دهنده ﻣﻌﺎﻣﻠﻪ ﺧﺮﯾﺪ و رﻧﮓ ﻗﺮﻣﺰ ﺑﺮای معاملات ﻓﺮوش ﻣﯽ ﺑﺎﺷﺪ ﮐﻪ ﺣﺠﻢ ﻣﺒﺎدﻟﻪ ﺷﺪه و ﻗﯿﻤﺖ ﯾﮏ واﺣﺪ
                                ارز دیجیتال در زﻣﺎن ﻣﻌﺎﻣﻠﻪ در ﻟﯿﺴﺖ ﻣﺸﺨﺺ ﺷﺪه اﺳﺖ.</p>
                            <br>
                            <p>۴- در اﯾﻦ ﻗﺴﻤﺖ ﺷﻤﺎ ﺳﻔﺎرش هایی ﮐﻪ در ﺑﺨﺶ ثبت سفارش ﺗﻌﺮﯾﻒ ﮐﺮده اﯾﺪ را مشاهده ﻣﯽ ﮐﻨﯿﺪ و هر
                                زﻣﺎن ﮐﻪ بخواهید ﻣﯽ ﺗﻮاﻧﯿﺪ آن ها را ﻟﻐﻮ ﮐﻨﯿﺪ. اﮔﺮ ﺳﻔﺎرﺷﯽ داﺷﺘﯿﺪ ﮐﻪ در اﯾﻦ ﺑﺨﺶ ﻧﻤﺎﯾﺶ داده
                                ﻧﻤﯽ ﺷﻮد، ﺳﻔﺎرش ﺷﻤﺎ معامله ﺷﺪه اﺳﺖ و یا زمان انقضا داشته است و زمان آن به پایان رسیده
                                است.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        واریز و برداشت ارز دیجیتال
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>برای فروش ارز دیجیتال ابتدا باید حساب خود را در جامه جم شارژ کنید.</p>
                            <br>
                            <p>واریز ارز دیجیتال:</p>
                            <br>
                            <p>۱- کیف پول را انتخاب کنید.</p>
                            <br>
                            <p>۲- روی دکمه واریز در کیف پول ارز دیجیتالی که می خوهید انتقال دهید کلیک کنید.(برای مثال
                                بیت کوین)</p>
                            <br>
                            <p>۳- آدرس کیف پول خود را از کادر مشخص شده کپی کنید و یا QR کد نمایش داده شده را توسط کیف
                                پولتان اسکن کنید :</p>
                            <br>
                            <p>۴- آدرس کپی شده را جهت واریز کوین در کیف پولی که قصد ارسال از آن را دارید وارد کنید و یا
                                برای شخص فرستنده ارسال کنید.</p>
                            <br>
                            <p>۵- پس از واریز در این قسمت ، منتظر تایید شبکه بلاک چین باشید تا پس از تایید به کیف پول
                                شما اضافه می شود.</p>
                            <br>
                            <p>۶- آخرین واریزی های خود را در این قسمت مشاهده کنید:</p>
                            <br>
                            <p>برداشت ارز دیجیتال:</p>
                            <br>
                            <p>۱- ابتدا از سمت راست وارد کیف پول شوید :</p>
                            <br>
                            <p>۲- روی دکمه برداشت در کیف پول ارز دیجیتال مورد نظرخود کلیک کنید.(برای مثال بیتکوین)</p>
                            <br>
                            <p>۳- مقدارارز دیجیتال مورد نظر خود را در کادر مشخص شده در شکل وارد کنید و سپس آدرس کیف پولی
                                که می خواهید به آن واریز کنید وارد کنید ودرخواست خود را ثبت کنید.</p>
                            <br>
                            <p>۴- کد امنیتی ارسال شده را در کادر وارد نمایید.</p>
                            <br>
                            <p>۵- منتظر تایید کارشناس مربوطه باشید.</p>
                            <br>
                            <p>۶- تاریخچه آخرین برداشت های خود را در این قسمت مشاهده کنید:</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        واریز و برداشت ریالی
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                    <div class="accordion-body">
                        <div class="col-10 container">
                            <br>
                            <p>برای خرید ارز دیجیتال ابتدا باید حساب خود را در جامه جم شارژ کنید.</p>
                            <br>
                            <p>واریز ریالی:</p>
                            <br>
                            <p>۱- کیف پول را انتخاب کنید.</p>
                            <br>
                            <p>۲- روی دکمه واریز در کیف پول ریالی کلیک کنید.</p>
                            <br>
                            <p>۳- مبلغ مورد نظر خود را در کادر مشخص شده در شکل به تومان وارد کنید.</p>
                            <br>
                            <p>۴- درگاه پرداخت را تکمیل کنید و دقت داشته باشید از کارت بانکی که در سایت ثبت و تایید شده
                                است پرداخت را انجام دهید.</p>
                            <br>
                            <p>۵- در پایین صفحه کیف پول با کلیک بر روی "آخرین واریزهای ریالی" می توانید، واریزهای ریال
                                خود را مشاهده کنید.</p>
                            <br>
                            <p>برداشت ریالی:</p>
                            <br>
                            <p>۱- کیف پول را انتخاب کنید.</p>
                            <br>
                            <p>۲- روی دکمه برداشت در کیف پول ریالی کلیک کنید.</p>
                            <br>
                            <p>۳- مبلغ مورد نظر خود را در کادر مشخص شده در شکل به تومان وارد کنید و سپس از بین شماره
                                شبایی که در سایت ثبت شده است یکی را انتخاب کنید و دکمه ایجاد درخواست کلیک کنید.</p>
                            <br>
                            <p>۴- بعد از بررسی برداشت خود، کد دو مرحله ای برای شما ارسال می شود و آن را در کادر وارد
                                نمایید.</p>
                            <br>
                            <p>۵- منتظر تایید کارشناس مربوطه باشید.</p>
                            <br>
                            <p>۶- در این قسمت می توانید وضعیت آخرین برداشت های خود را ببینید.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}