{% load static %}
<div class="d-none d-sm-none d-md-none d-lg-block col-lg-3 col-xl-3 bg-light text-end min-vh-100">
    <div class="row">
        <div class="col text-center bg-dark text-light m-1 p-2" style="border-radius:10px;">
            <h5>قیمت رمز ارزها</h5>
            <div class="table-responsive text-end">
                <table class="table table-hover table-dark table-sm">
                    <thead>
                    <tr>
                        <th scope="col">نوع ارز</th>
                        <th scope="col">قیمت به دلار</th>
                        <th scope="col">تغییرات</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img src="{% static '/logo/btc.svg' %}" width="25px;"> بیت کوین</td>
                        <td>۶۱۱۸۰.۰۰</td>
                        <td class="text-danger">۲.۷۶٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/eth.svg' %}" width="25px;"> اتریوم</td>
                        <td>۴۰۳۸.۲۱</td>
                        <td class="text-danger">۲.۷۱٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/ada.svg' %}" width="25px;">کاردانو </td>
                        <td>۲.۱۶</td>
                        <td class="text-danger">۰.۷۹٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/bnb.svg' %}" width="25px;"> بایننس کوین</td>
                        <td>۴۸۲.۹۰</td>
                        <td class="text-success">۰.۶۲٪</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/doge.svg' %}" width="25px;"> دوج کوین</td>
                        <td>۰.۲۵</td>
                        <td class="text-success">۰.۴۲٪</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/atom.svg' %}" width="25px;"> اتم</td>
                        <td>۳۴.۵۰</td>
                        <td class="text-danger">۱.۲۱٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/xrp.svg' %}" width="25px;"> ریپل</td>
                        <td>۱.۰۹</td>
                        <td class="text-danger">۱.۱۹٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/ltc.svg' %}" width="25px;"> لایت کوین</td>
                        <td>۱۹۴.۰۰</td>
                        <td class="text-success">۲.۷۵٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/trx.svg' %}" width="25px;"> ترون</td>
                        <td>۰.۱۰</td>
                        <td class="text-danger">۱.۱۶٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/dash.svg' %}" width="25px;"> دش</td>
                        <td>۱۹۵.۸۰</td>
                        <td class="text-danger">۲.۹۵٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/bch.svg' %}" width="25px;"> بیت کوین کش</td>
                        <td>۶۳۵.۱۰</td>
                        <td class="text-success">۰.۳۵٪</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/xlm.svg' %}" width="25px;"> استلار</td>
                        <td>۰.۳۸</td>
                        <td class="text-danger">۱.۰۵٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/eos.svg' %}" width="25px;"> ایاس</td>
                        <td>۴.۶۷</td>
                        <td class="text-danger">۱.۲۸٪-</td>
                    </tr>
                    <tr>
                        <td><img src="{% static '/logo/usdt.svg' %}" width="25px;"> تتر</td>
                        <td>۱</td>
                        <td class="text-success">۰.۰۱٪</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center bg-dark text-light m-1 p-2" style="border-radius:10px;">
            <div class="table-responsive">
                <h5>آخرین معاملات (بیت کوین-تومان)</h5>
                <table class="table table-hover table-dark table-sm">
                    <thead>
                    <tr>
                        <th scope="col">مقدار (BTC)</th>
                        <th scope="col">قیمت واحد (تومان)</th>
                        <th scope="col">زمان</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-danger">
                        <td>۰.۰۰۰۲۴۵</td>
                        <td>۱۶۸۰۰۰۰۲۲۰</td>
                        <td>۰۸:۳۷</td>
                    </tr>
                    <tr class="text-danger">
                        <td>۰.۰۰۰۶۹</td>
                        <td>۱۶۸۰۰۰۰۲۲۱</td>
                        <td>۰۸:۳۷</td>
                    </tr>
                    <tr class="text-danger">
                        <td>۰.۰۰۲۹۰۶</td>
                        <td>۱۶۸۲۰۰۰۰۰۰</td>
                        <td>۰۸:۳۶</td>
                    </tr>
                    <tr class="text-success">
                        <td>۰.۰۰۰۱۳۶</td>
                        <td>۱۶۸۹۹۹۹۹۹۹</td>
                        <td>۰۸:۳۵</td>
                    </tr>
                    <tr class="text-success">
                        <td>۰.۰۰۲۹۰۶</td>
                        <td>۱۶۸۹۰۰۰۰۰۰</td>
                        <td>۰۸:۳۵</td>
                    </tr>
                    <tr class="text-danger">
                        <td>۰.۰۰۳۵۱۳</td>
                        <td>۱۶۸۲۰۰۰۰۰۰</td>
                        <td>۰۸:۳۴</td>
                    </tr>
                    <tr class="text-danger">
                        <td>۰.۰۰۰۵۹۵</td>
                        <td>۱۶۸۲۰۰۰۰۰۰</td>
                        <td>۰۸:۳۴</td>
                    </tr>
                    <tr class="text-danger">
                        <td>۰.۰۰۳۵۱۳</td>
                        <td>۰.۰۰۲۹۸۵</td>
                        <td>۰۸:۳۳</td>
                    </tr>
                    <tr class="text-success">
                        <td>۰.۰۰۱۷۷۲</td>
                        <td>۱۶۹۲۸۰۰۰۰۰</td>
                        <td>۰۸:۳۰</td>
                    </tr>
                    <tr class="text-danger">
                        <td>۰.۰۰۰۶۰۶</td>
                        <td>۱۶۸۰۰۰۱۷۶۱</td>
                        <td>۰۸:۳۰</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>