<div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 bg-dark text-end min-vh-100">
        <nav class="nav  flex-column"  id="menu">
            <li class="nav-item my-4 text-center">
                <a href="/dashboard" class="nav-link">
                    <i class="fs-4 bi-person text-white"></i>
                </a>
                <a href="/dashboard" class="nav-link">
                    <span class="d-none d-sm-inline text-light">داشبورد</span>
                </a>
            </li>
            <li class="nav-item my-4 text-center">
                <a href="/analysis" class="nav-link">
                    <i class="fs-4 bi-bar-chart text-white"></i>
                </a>
                <a href="/analysis" class="nav-link">
                    <span class="d-none d-sm-inline text-light">تحلیل تکنیکال</span>
                </a>
            </li>
            <li class="nav-item my-4 text-center">
                <a href="/" class="nav-link">
                    <i class="fs-4 bi-wallet2 text-white"></i>
                </a>
                <a href="/" class="nav-link">
                    <span class="d-none d-sm-inline text-light">کیف پول</span>
                </a>
            </li>
            <li class="nav-item my-4 text-center">
                <a href="/" class="nav-link">
                    <i class="fs-4 bi-cart3 text-white"></i>
                </a>
                <a href="/" class="nav-link">
                    <span class="d-none d-sm-inline text-light">سفارشات </span>
                </a>
            </li>

            <li class="nav-item my-4 text-center">
                <a href="/" class="nav-link">
                    <i class="fs-4 bi-clock-history text-white"></i>
                </a>
                <a href="/" class="nav-link">
                    <span class="d-none d-sm-inline text-light">تاریخچه سفارشات </span>
                </a>
            </li>

            <li class="nav-item my-4 text-center">
                <a href="/" class="nav-link">
                    <i class="fs-4 bi-people text-white"></i>
                </a>
                <a href="/" class="nav-link">
                    <span class="d-none d-sm-inline text-light">دعوت دوستان</span>
                </a>
            </li>
        </nav>
</div>